.auth-container {
  margin: 3rem 0;
  width: 30%;
  align-items: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.auth-wrapper-password {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-items: center;
}

.anchor-text a {
  color: var(--primary);
}

.logout-icon-wrapper {
  display: flex;
  justify-content: center;
  color: var(--color-success-400);
}

.back-to-home-link {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 1024px) {
  .auth-container {
    width: 50%;
  }
}

@media (max-width: 768px) {
  .auth-container {
    width: 80%;
  }
}

@media (max-width: 480px) {
  .auth-wrapper-password {
    grid-template-columns: 1fr;
    grid-template-rows: 2rem;
  }
}
