@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,400;0,500;0,700;1,300&display=swap");
:root {
  --nav-shadow: 0 0 4px rgb(0 0 0 / 40%);
}

/* global */

* {
  font-family: "Montserrat", sans-serif;
}

html {
  background-image: url("../assets/svg/hero-bg.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
}

/* utils */

.active {
  background-color: var(--color-secondary-400);
  border-bottom: 3px solid var(--color-primary-400);
  color: var(--color-background-500);
  padding: 5px 1rem;
  box-shadow: var(--nav-shadow);
}

.page-container {
  display: flex;
}

.btn-full-width {
  width: 100%;
  margin: 0;
}

.padding-sm {
  padding: 0.5rem;
}

.margin-sm {
  margin: 0.5rem 0;
}

.cursor-pointer {
  cursor: pointer;
}

.btn-wrapper {
  display: flex;
  justify-content: space-between;
}

.padding-xs {
  padding: 5px;
}

.my-1 {
  margin: 1rem 0;
}

.flex-center{
  display: flex;
  align-items: center;
  gap: 8px;
}

/* nav */

.navigation-container {
  width: inherit;
  box-shadow: var(--nav-shadow);
  background-color: var(--color-background-400);
  position: relative;
}

.logo {
  height: 70px;
}

.nav-links {
  color: var(--color-primary-400);
  text-transform: uppercase;
  font-size: small;
  font-weight: 700;
}

.navigation-links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 250px;
}

/* sidebar */

.aside-bar {
  background-color: var(--color-bg-card-overlay-text);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  color: var(--color-white-400);
  padding: 2rem;
  min-width: 200px;
  height: 100vh;
}

.aside-link {
  padding: 5px 1rem;
  border-bottom: 3px solid transparent;
  color: var(--color-white-400);
}

.aside-link:hover {
  background-color: var(--color-secondary-200);
  border-bottom: 3px solid var(--color-secondary-200);
  box-shadow: var(--nav-shadow);
}

/* landing page */

.hero-img {
  padding-top: 4rem;
}

.hero-section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.hero-btn-group {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.hero-body {
  width: 30%;
}

/* home page */

.notes-input-container {
  background-color: var(--color-background-500);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 300px;
}

.notes-input-wrapper {
  margin: 1rem auto;
}

.notes-card {
  background-color: var(--color-background-400);
  box-shadow: var(--nav-shadow);
  padding: 1rem;
  margin: 1rem;
  width: 200px;
  min-height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  word-break: break-all;
}

.notes-card li {
  list-style: none;
}

.notes-card-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.notes-card-icons {
  display: flex;
  justify-content: space-around;
  gap: 10px;
  align-items: center;
}

.notes-card-icons div {
  cursor: pointer;
}

.color-palette-wrapper{
  position: absolute;
  bottom: -40px;
  background-color: var(--color-bg-card-overlay-text);
  display: flex;
  border-radius: 5px;
  z-index: 2;
}

.tag-options-wrapper{
  position: absolute;

  display: flex;
  flex-direction: column;
  gap: 5px;
  z-index: 2;
  background-color: #fff;
  padding: 5px;
}

.tag-btn{
  background-color: var(--color-secondary-200);
  color: var(--color-secondary-400);
  font-size: 11px;
  padding: 5px;
  border-radius: 5px;
}

.tag-title{
  background-color: #fff;
  font-size: 12px;
  padding: 3px;
  border-radius: 5px;
  width: 60px;
  text-align: center;
  border: 1px solid #A7BBC7
}

.tag-option{
  bottom: -210px;
  left: 35px;
}

.priority-option{
  bottom: -95px;
  left: -30px;
}

.priority-title{
  position: absolute;
  right: 5px;
  top: 5px;
  background-color: #fff;
  color: #FF6363;
  font-size: 12px;
  padding: 2px;
  border-radius: 5px;
  width: 58px;
  text-align: center;
  border: 1px solid #FF6363
}

.filter-list{
  position: absolute;
  top: 70px;
  width: fit-content;
  right: 10px;
  background-color: #fff;
  padding: 10px;
  z-index: 4;
  box-shadow: var(--nav-shadow);
}

.border-bottom{
  border-bottom: 1px solid var(--color-primary-400);
}

.margin-right-sm{
  margin-right: 5px;
}